<!DOCTYPE html>
<html>
<head>
  <title>student names</title>
</head>
<body>
  <p>hello</p>
  <div>
    <% @students.each do |student| %>
      <%= student['name']%><br>
    <% end %>
  </div>
</body>
</html>
<!-- Git hub not updateind test -->